main{
    padding-top: 200px;
}
.box-parent{
    height: 500px;
    width: 800px;
    margin:auto;
    
}
.centered{
    font-size: 0;
}
.box{
    height: 200px;
    width: 50%;
    font-size: 0;
    display:inline-block;
    border: 1px solid black;
}
.half_green{
background-color: green;
}
.half_blue{
background-color: blue;
}

.box2{
    height: 300px;
    width: 33.33%;
    font-size: 0;
    display:inline-block;
    border: 1px solid black;
}
.third_grey{
    background-color: grey;
}
.third_black{
    background-color: black;
}.third_orange{
    background-color: orange;
}