body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.left{
  float: left;
  width: 50%;
  height: 50%;
  margin-right: 10px;
}
.right{
  float:right;
  margin-left: 10px;
  width: 25%;
  height: 25%;
}