body {
    background-image: url("/images/outerspace_landscape.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.navigation {
    padding-left: 60px;
    padding-right: 60px;


}

nav {
    position: fixed;
    width: 100%;
    display: inline-block;
    background-color: grey;

}

.icon {
    border: 1px solid black;
    border-radius: 100px;
    height: 50px;
    vertical-align: middle;
   
}

nav ul {
    display: inline-block;
}

nav li {
    display: inline-block;
}




main {
  padding-top: 200px;

   
}
.box{
    width: 600px;
    height: 300px;
    position: relative;
    border: 5px dashed; 
    border-color:green;
    margin-left: auto;
    margin-right: auto;
}

.spacecat, .spacedog {
    position: absolute;
    width: 200px;
  }
.spacecat{
    left:-50px;
    top:-70px;
}  
.spacedog{ 
    bottom: -70px;
    right: -50px;
}